@font-face {
    font-family: 'sunac';  /* project id 284704 */
    src: url('//at.alicdn.com/t/font_284704_a4rvrdrwxoxyldi.eot');
    src: url('//at.alicdn.com/t/font_284704_a4rvrdrwxoxyldi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_284704_a4rvrdrwxoxyldi.woff') format('woff'),
    url('//at.alicdn.com/t/font_284704_a4rvrdrwxoxyldi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_284704_a4rvrdrwxoxyldi.svg#iconfont') format('svg');
}
/*css reset*/
body,ul,ol,p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*base*/
.layout{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
*{
    box-sizing: border-box;
}
/*index*/
html,body{
    height: 100%;
    text-align: center;
}
#header{
    height: 100%;
    overflow: hidden;
    position: relative;
}

#header .imgs li{
    float: left;
}

#header .imgs li img{
    height: 125vh;  /*Í¼Æ¬²»¹»¿í*/
    vertical-align: top;
}

/*ÂÖ²¥Ð¡Ô²µã*/
.bullet{
    position: absolute;
    z-index: 1;
    left: 50%;
    padding: 0 6px;
    transform: translate(-50%);
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px solid;
    border-color: rgba(0,0,0,0.5);
    border-radius: 12px;
}
.bullet>li{
    float: left;
    margin: 4px;
    border: 6px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.bullet>li.active{
    border-color: #666;
}

#header .nav{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 999;
}
#header .nav .logo{
    font-family: "sunac";
    color: #2fa162;
    font-size: 130px;
    line-height: 50px;
    float: left;
}
#header .nav .logo:hover{
    opacity: 0.9;
}
#header .nav-list{
    width: 70%;
    position: absolute;
    right: 0;
}
#header .nav-list li{
    display: inline-block;
    flex: 1;
    padding: 2%;
}
#header .nav-list li a:hover{
    color: #2fa162;
}
#header .nav-list li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
#header .header-title{
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
#header .header-title h2{
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
#header .header-title h1{
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
#header .header-title .btn{
    color: #fff;
    display: inline-block;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #2fa162;
    opacity: 0.9;
}
#header .header-title .btn:hover{
    opacity: 1;
}

/*content pub*/
#services,#six-design,#about,#team{
    padding: 150px 0;
}
#services h3,#six-design h3,#about h3,#team h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
#services .little-title,#six-design .little-title,#about .little-title,#team .little-title{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    color: #777;
}
h4{
    font-size: 18px;
    font-weight: 700;
}
/*services*/
#services .services-wrap{
    display: flex;
}
#services .services-wrap li{
    width: 360px;
    flex: 1;
    margin-left: 30px;
}
#services .services-wrap li p{
    color: #777;
}
#services .services-wrap{
    margin-left: -30px;
}
#services .services-wrap li i{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: #2fa162;
    display: inline-block;
    position: relative;
}
#services .services-wrap li i:after{
    font-family: "sunac";
    position: absolute;
    color: #fff;
    font-style: normal;
    font-size: 50px;
    left: 32px;
    top: 25px;
}
#services .services-wrap li .shopcar:after{
    content: "\e605";
}
#services .services-wrap li .macbook:after{
    content: "\e68d";
}
#services .services-wrap li .suo:after{
    content: "\e606";
}
#services .services-wrap li h4{
    margin: 15px 0;
}

/*six-design*/


@-webkit-keyframes enter-top{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-moz-keyframes enter-top{from{-moz-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);z-index:0}to{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@keyframes enter-top{from{-webkit-transform:translate3d(0,-100%,0);-moz-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-webkit-keyframes enter-right{from{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-moz-keyframes enter-right{from{-moz-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:0}to{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@keyframes enter-right{from{-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-webkit-keyframes enter-bottom{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-moz-keyframes enter-bottom{from{-moz-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:0}to{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@keyframes enter-bottom{from{-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-webkit-keyframes enter-left{from{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-moz-keyframes enter-left{from{-moz-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:0}to{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@keyframes enter-left{from{-webkit-transform:translate3d(-100%,0,0);-moz-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:0}to{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}}
@-webkit-keyframes leave-top{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(0,-100%);transform:translate3d(0,-100%);z-index:-1}}
@-moz-keyframes leave-top{from{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-moz-transform:translate3d(0,-100%);transform:translate3d(0,-100%);z-index:-1}}
@keyframes leave-top{from{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(0,-100%,0);-moz-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);z-index:-1}}
@-webkit-keyframes leave-right{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:-1}}
@-moz-keyframes leave-right{from{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-moz-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:-1}}
@keyframes leave-right{from{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);z-index:-1}}
@-webkit-keyframes leave-bottom{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:-1}}
@-moz-keyframes leave-bottom{from{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-moz-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:-1}}
@keyframes leave-bottom{from{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);z-index:-1}}
@-webkit-keyframes leave-left{from{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:-1}}
@-moz-keyframes leave-left{from{-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-moz-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:-1}}
@keyframes leave-left{from{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}to{-webkit-transform:translate3d(-100%,0,0);-moz-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);z-index:-1}}


#six-design{
    background-color: #f7f7f7;
}
#six-design .six-design-wrap li{
    width: 360px;
    display: inline-block;
    margin-left: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    overflow: hidden;
}
#six-design .six-design-wrap li img{
    height: 260px;
    vertical-align: bottom;
}
#six-design .six-design-wrap{
    margin-left: -40px;
}
#six-design .six-design-wrap .bottom{
    position: absolute;
    top: 100%;
    background: #fff;
}

#six-design .six-design-wrap li h4{
    margin-top: 25px;
}
#six-design .six-design-wrap li>p{
    font-style: italic;
    font-size: 16px;
    color: #777;
    margin-bottom: 25px;
}
#six-design .six-design-wrap .hover{
    position: relative;
}
#six-design .six-design-wrap .hover-bgc{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 260px;
    background-color: #2fa162;
    opacity: .7;
    content: "\e62f";
    font-family: "sunac";
    color: #fff;
    font-size: 150px;
    text-align: center;
    padding-top: 42px;
    font-style: normal;
}

#six-design .six-design-wrap .enter-top,#six-design .six-design-wrap .enter-right,#six-design .six-design-wrap .enter-bottom,#six-design .six-design-wrap .enter-left{
    z-index: 1
}

#six-design .six-design-wrap .enter-top {
    -webkit-animation: enter-top .3s ease-in;
    -moz-animation: enter-top .3s ease-in;
    animation: enter-top .3s ease-in;
}
#six-design .six-design-wrap .enter-right {
    -webkit-animation: enter-right .3s ease-in;
    -moz-animation: enter-right .3s ease-in;
    animation: enter-right .3s ease-in;
}
#six-design .six-design-wrap .enter-bottom {
    -webkit-animation: enter-bottom .3s ease-in;
    -moz-animation: enter-bottom .3s ease-in;
    animation: enter-bottom .3s ease-in;
}
#six-design .six-design-wrap .enter-left {
    -webkit-animation: enter-left .3s ease-in;
    -moz-animation: enter-left .3s ease-in;
    animation: enter-left .3s ease-in;
}
#six-design .six-design-wrap .leave-top {
    -webkit-animation: leave-top .3s ease-out;
    -moz-animation: leave-top .3s ease-out;
    animation: leave-top .3s ease-out;
}
#six-design .six-design-wrap .leave-right {
    -webkit-animation: leave-right .3s ease-out;
    -moz-animation: leave-right .3s ease-out;
    animation: leave-right .3s ease-out;
}
#six-design .six-design-wrap .leave-bottom {
    -webkit-animation: leave-bottom .3s ease-out;
    -moz-animation: leave-bottom .3s ease-out;
    animation: leave-bottom .3s ease-out;
}
#six-design .six-design-wrap .leave-left {
    -webkit-animation: leave-left .3s ease-out;
    -moz-animation: leave-left .3s ease-out;
    animation: leave-left .3s ease-out;
}

/*#six-design .six-design-wrap .hover-wrap:hover .hover{*/
    /*opacity: 0.8;*/
    /*transition: all ease .5s;*/
/*}*/


/*about*/
#about .center-time{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    line-height: 100px;
    font-style: normal;
    color: #fff;
    background-color: #2fa162;
    opacity: 0.9;
}
#about .center-time:hover{
    opacity: 1;
    border-color: #2fa162;
}
#about .about-content h4{
    font-size: 18px;
    margin-bottom: 10px;
}
#about .about-content p{
    color: #777;
    font-size: 14px;
    line-height: 20px;
}
#about li{
    position: relative;
    padding-bottom: 160px;
    margin-left: 1px;
}
#about li:last-child{
    padding-bottom: 0;

}
#about li:after{
    content: "";
    position: absolute;
    left: 50%;
    border-left: 2px solid #f1f1f1;
    height: 100%;
    z-index: -1;
}
#about li:nth-child(odd) .about-content{
    position: absolute;
    right: 50%;
    top: 0;
    width: 350px;
    text-align: right;
    margin-right: 80px;
}
#about li:nth-child(even) .about-content{
    position: absolute;
    left: 50%;
    top: 0;
    text-align: left;
    margin-left: 80px;
    width: 350px;
}
#about li:last-child p{
    display: inline-block;
    width: 140px;
    height: 140px;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    font-style: normal;
    color: #fff;
    background-color: #2fa162;
    opacity: 0.9;
    line-height: 24px;
    padding-top: 4px;
}

#about li:last-child p:hover{
    opacity: 1;
    border-color: #2fa162;
}


/*team*/
#team{
    background-color: #f7f7f7;
}
#team ul{
    margin-left: -30px;
    display: flex;
}
#team li{
    flex: 1;
    width: 360px;
    margin-left: 30px;
}
#team ul li img{
    width: 180px;
    height: 180px;
    border: 5px solid #f0f7f0;
    border-radius: 50%;
}
#team ul li h4{
    padding-top: 30px;
    margin-bottom: 6px;
}
#team ul li h5{
    margin: 0;
    color: #777;
    padding: 0 0 20px;
}
#team ul li p{
    width: 60%;
    margin: 0 auto;
}

/*contact*/
#contact{
    background: -webkit-linear-gradient(#fff, #2fa162);
    background: -o-linear-gradient(#fff, #2fa162);
    background: -moz-linear-gradient(#fff, #2fa162);
    background: linear-gradient(#fff, #2fa162);
}
#contact .layout{
    background-color: #fff;
    padding: 100px 0;
}
#contact .form h3{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
}
#contact .form>p{
    margin-bottom: 60px;
    font-style: italic;
}
#contact .form .form-left,#contact .form .form-right {
    float: left;
    width: 50%;
    padding: 0 20px;
}
#contact .form-left input,#contact .form-right textarea{
    padding: 15px;
    width: 100%;
    border: 1px solid #2fa162;
    border-radius: 5px;
    outline: none;
    display: block;
    font: 400 14px/14px Arial;
    margin-top: 10px;
}
#contact .form-left input{
    height: 50px;
}
#contact .form-right textarea{
    height: 230px;
    margin-bottom: 10px;
}
#contact .form input[type="submit"] {
    padding: 15px 30px;
    color: #fff;
    background-color: #2fa162;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    opacity: 0.9;
}
#contact form input[type="submit"]:hover{
    opacity: 1;
}


/*footer*/
#footer{
    padding: 30px 0 20px 0;
    background-color: #2fa162;
    font-weight: 400;
    font-size: 14px;
}
#footer p{
    float: left;
    padding: 0 30px;
}
#footer .footer-link{
    margin-left: 50%;
}
#footer a{
    float: right;
    color: #fff;
    margin-right: 30px;
    opacity: 0.9;
}
#footer a:hover{
    text-decoration: underline;
    opacity: 1;
}
