*{box-sizing: border-box;}
div#wrap{
    width: 100%;
    height: 500px;
    background: white;
    /*padding: 100px 0;*/
    margin: 10px auto;
    /*border: 1px solid #ddd;*/
    perspective: 1000px;
}

#banner{
    height: 540px;
    width: 100%;
    margin: 0 auto;
    background:  #37D7B2;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSzRTkptPg6Fvrv_dk2EWYt8mha7VwMCYrOXFdsiLtutCfv0dAhgw");
    transition: transform 0.1s;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    text-align: center;
    line-height: 540px;
    font-size: 50px;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 10px;
}

body{
    background: white;
    padding: 20px;
}
